
@import('statuses')

.person-status {
  &.inactive indicator {
    background-color: inactive
  }

  &.active indicator {
    background-color: active;
  }

  &.clean indicator {
    background-color: clean;
  }

  &.complete indicator {
    background-color: complete;
  }
}