span(class='person-status {{ person.status }}', ng-class='{ open: open }')
  span.indicator(ng-click='open = !open')
  div.dropdown
    .item(ng-repeat='status in statuses', ng-click='set(status.name)', ng-class='{active: status.name === person.status}')
      span(class='indicator {{ status.name }}')
      | {{ status.title }}
